*{
    margin: 0;
}
body{
    background-color: white;
}
.form{
    width: 50%;
    padding-top: 35px;
    height: 150%;
    position: auto;
    background:url(img/one.jpeg) no-repeat 100% 100%;
    background-size: cover;
    margin-bottom: 25px;
    margin: auto;
    overflow-x:scroll;
}
.text{
    background-color: white;
    width: 65%;
    height: 33px;
    font-size: 25px;
    border-radius: 5px;
    text-align: center;
    border-color: rgb(30, 153, 6);
    border-width: 1.5px;
}