#cb{
    width: 48%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    margin-left: 8px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
    text-align: center;
}
#sec{
    padding: 10px;
}
#txA{
    width: 48%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    margin-left: 8px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}
#contened_c{
    margin-top: 25px;
    font-size: 12px;
}
#h2{
    margin-top: 5px;
    font-size: 40px;
}
#btn1{
    margin-top: 15px;
    color: white;
    background-color: #343A40;
}
#foot{
    margin-top: 10.9%;
}
#acceso{
    background-image: url("../RECURSOS/fondit.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#sec{
    color: white;
}